<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.su.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user (name, phone, sex, id_number, avatar, follower_count, following_count, liked_count, post_count, create_time)
        values (#{name}, #{phone}, #{sex}, #{idNumber}, #{avatar}, 0, 0, 0, 0, #{createTime})
    </insert>
    <select id="countByMap" resultType="java.lang.Integer">
            select count(1) from user
            where create_time &gt;= #{begin} and create_time &lt;= #{end}
    </select>

    <update id="update">
        update user
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="sex != null and sex != ''">sex = #{sex},</if>
            <if test="idNumber != null and idNumber != ''">id_number = #{idNumber},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
        </set>
        where id = #{id}
    </update>
</mapper>
